<div class="nav">
  <a [routerLink]="['/set-first-name']" [queryParams]="{'first-name': firstName, 'last-name': lastName}">First Name</a>
  <a [routerLink]="['/set-last-name']" [queryParams]="{'first-name': firstName, 'last-name': lastName}">Last Name</a>
</div>

<div class="wrapper">

  <form (ngSubmit)="save()">
  
    <label for="first-name">Enter first name: </label>
    <input type="text" name="first" id="first-name" [(ngModel)]="name.first">
  
    <button type="submit">submit</button>
  </form>
  
  <hr>
  <p>name.first (local): {{ name.first }}</p>
  <p>firstName (local): {{ firstName }}</p>
  
  <hr>
  <app-full-name-revealer [firstName]="firstName" [lastName]="lastName" (setFirstName)="setFirstName($event)" (setLastName)="setLastName($event)"></app-full-name-revealer>
  
</div>
