<div class="wrapper">

  <h5>(full-name-revealer component)</h5>
  
  <button (click)="reveal()">Reveal Full Name</button>
  
  <h2 *ngIf="showFullName">Full Name: {{ fullName }}</h2>
  
  <hr>

  <!-- <form (ngSubmit)="saveFirstName()">
  
    <label for="first-name">Enter first name: </label>
    <input type="text" name="first" id="first-name" [(ngModel)]="name.first">
  
    <button type="submit">submit</button>
  </form>

  <form (ngSubmit)="saveLastName()">
  
    <label for="last-name">Enter last name: </label>
    <input type="text" name="last" id="last-name" [(ngModel)]="name.last">
  
    <button type="submit">submit</button>
  </form> -->

</div>
